* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(13, 14, 14);
    /*width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; -----Cuando lo haga responsive*/
}

html {
    scroll-behavior: smooth;
}
/* Personaliza la barra de desplazamiento */
::-webkit-scrollbar {
  width: 18px; /* Ancho de la barra de desplazamiento */
}

/* Personaliza el fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #202020; /* Color de fondo de la pista */
}

/* Personaliza el "thumb" (la parte que se mueve) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #696969; /* Color del thumb */
  border-radius: 6px; /* Bordes redondeados */
}

/* Cambiar el color del thumb al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #969696; /* Color cuando el mouse está encima */
}

header {
    position: fixed;
    z-index: 1000;
    padding-top: 25px;
    width: 100%;
    backdrop-filter: blur(10px); /*desenfoque */
    background-color: transparent;
    .logor {
        margin-left: 50px;
        width: 38px;
        height: 35px;
        padding: 0;
        }
}
.nav {
    border: 1px solid rgba(82, 82, 82, 0.108);
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: rgba(11, 11, 11, 0.764);
    width: 70rem;
    padding: 7px 45px;
    border-radius: 40px;
    
}

.header-left, .header-right {
    display: flex;
    gap: 2rem;
    padding-top: 0.5rem;
}

.left, .right {
    color: rgb(61, 201, 122);
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    position: relative;
    font-family: monospace;
}

.left:hover, .right:hover {
    color: #ffffff;
}

.left::after, .right::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00ff9d;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.left:hover::after, .right:hover::after {
    transform: scaleX(1);
}

.logor {
    height: 40px;
    margin: 0 2rem;
}

main{
    display: flex;
    justify-content: flex-start;/*alinea hacia la izquierda*/
    flex-direction: column;/*en columna */
    width: 70rem;/*75%
    max-width: 1200px; /* Limitar ancho máximo*/
    margin: auto;
    padding: 2rem;
    padding-bottom: 1rem;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
h1 {
    text-shadow: 7px 7px 35px black;
    font-size: 6.3rem;
    color:rgb(240, 240, 240);
    font-family:monospace;
    margin-left: 5rem;
}
h2 {
    text-shadow: 10px 10px 30px black;
    font-size: 2.5rem;
    padding-top: 1.3rem;
    color: rgb(33, 202, 106);
    font-family:monospace;
    margin-left: 5rem;
}
h3{
    text-shadow: 5px 5px 30px black;
    font-size: 1.6rem;
    color: rgba(33, 202, 106, 0.963);
    font-family:monospace;
    margin-bottom: 4rem;
    padding-top: 5.3rem;
    text-decoration: underline;
    display: flex;
    justify-content: flex-start;
    margin-left: 1.5rem;
}
h4 {
    margin-top: 0;
    text-shadow: 5px 5px 30px black;
    font-size: 1.2rem;
    color: rgba(41, 184, 103, 0.974);
    font-family: monospace;
}
h5 {
    margin-top: 0.5rem;
    text-shadow: 5px 5px 30px black;
    font-size: 1.1rem;
    color: rgba(80, 80, 80, 0.974);
    font-family: monospace;
}
.caja {
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 40px;
}

.fachitax {
    height: 275px;
    width: 270px;
    border-radius: 20%;
    box-shadow: 0 0 20px rgba(7, 22, 16, 0.3);
    background-size:auto;
}

.descri {
    width: 42rem;
}
#aboutme {
    margin-top: 0;
    margin-bottom: 4.5rem;
}
#projects {
    margin-top: 0.8rem;
}
#saludo {
    font-size: 1.5rem;
}
.loguitos {
    display: flex;
    justify-content: flex-start;
    gap: 1.3rem;
    margin-top: 1.3rem;
}

.github, .linkedin {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}
.github:hover, .linkedin:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px rgba(0, 255, 157, 0.397));
}
a{
    text-decoration:underline;
    color: rgb(38, 186, 102);
}
a:hover {
    font-weight: 550;
    transition: 150ms;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
button{
    border: none;
    margin: 0;
    font-size: 30px;
    height: 40px;
    font-family: monospace;
    font-weight: bold;
    padding: 0 5px;
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    transform: scale(1.1);
    font-weight: 550;
    box-shadow: 0 0 7px 2px rgba(0, 255, 157, 0.356); /* Mayor desenfoque */
}

.proyectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
}

#cocheras, #vinoteca, #conversor, #contacts { 
    display: flex; 
    flex-direction: row; 
    padding: 1.5rem; 
    gap: 2rem; 
    border: 1px solid rgba(0, 255, 157, 0.2); 
    border-radius: 20px; 
    max-width: 64rem; 
    width: 100%; 
    box-sizing: border-box; 
    font-weight: lighter; 
    background-color: rgba(10, 10, 10, 0.95); 
    box-shadow: 0 8px 16px rgba(16, 16, 16, 0.688); 
    transition: all 0.3s ease;

 } #cocheras:hover, #vinoteca:hover, #conversor:hover, #contacts:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 12px 24px rgba(12, 12, 12, 0.689);
 }
 
.cocherasfoto, .vinotecafoto, .conversorfoto, .contactsfoto {
    margin: auto;
    margin-left: 0.4rem;
    min-width: 20rem;
    width: 20rem;
    height: 10rem;
    border-radius: 20px;
    
}
a h4:hover {
    color: rgb(22, 231, 109);
}
p {     
    margin-top: 0.5rem;        
    font-size: 1rem;     
    color: rgb(222, 222, 222);     
    font-family: monospace;     
    line-height: 1.5;   
}
.proyectsContainer p {
    font-size: 0.9rem;
    margin-top: 0.5rem; 
}  
/* Estilo para el botón */
#toggleProjectsBtn {
    margin-bottom: 2rem;
    color: rgb(25, 175, 90);
    background-color: transparent;
    font-family: monospace;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 1rem;
}

#toggleProjectsBtn:hover {
    transform: scale(1.06);
    box-shadow: none;
    color: #07e274ef;
    text-decoration: underline;
}

/* Transición suave para los proyectos */
.proyectsContainer > div {
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
    opacity: 1;
}

.hidden {
    pointer-events: none; /* Desactiva interacciones mientras está oculto */
}

li {     
    list-style-type: none;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: rgb(222, 222, 222); 
    background-color: rgba(0, 255, 157, 0.1);
    border-radius: 8px;
    font-family: monospace;
    font-size: 0.8rem;
   }

.education {
    margin: auto;
    max-width: 800px;
    padding: 0 3rem;
    margin-top: 1rem;
}

.education-item {
    display: flex;
    margin-bottom: 3rem;
}

.fecha {
    flex: 0 0 100px;
    font-family: 'Courier New', monospace;
    font-size: 1.1rem;
    color: #00ff9d;
    text-align: right;
    padding-top: 0.25rem;
    margin-right: 2.5rem;
}

.divider {
    flex: 0 0 2px;
    background-color: #00ff9d;
    margin-right: 3rem;
    position: relative;
}

.divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background-color: #00ff9d;
    border-radius: 50%;
}

.tec {
    display: flex; /*alinear las imágenes en una línea */
    justify-content: center;
    margin: auto;
    width: 80%;
    gap: 50px;
    margin-top: 2.5rem;
    flex-wrap: wrap;
}
.tec-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.tec-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.tec-item p {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 14px;
    color: white;
    font-family: monospace;
    text-shadow: 9px 9px 30px black;
}


/*-----------------------------------------------------------------------------------------*/
.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.formulario {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.918);
    box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(0, 255, 157, 0.2);
    border-radius: 10px;
    width: 40rem;
    font-family: monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
    transition: all 0.3s ease;
    
}
.formulario:hover{
    transform: translateY(-5px); 
}

.formulario h2 {
    margin: auto;
    font-size: 28px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: rgb(38, 186, 102);
}
.formulario h4{
    margin-bottom: 2rem;
}
.campos input{
    width: 32rem;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    font-family: monospace;
    font-size: 15px;
}

.campos input:focus{/*cuando se selecciona*/
    outline: none;
    border-color: rgb(38, 186, 102);
}

.boton{
    width: 100%;
    padding: 2px 15px;
    background-color: rgb(38, 186, 85);
    border: none;
    border-radius: 5px;
    color: rgb(15, 15, 15);
    font-size: 18px;
    cursor: pointer;
    font-family: monospace;
    margin-top: 15px;
}

.boton:hover {
    background-color: rgb(20, 189, 70);
    transition: 150ms;
    transform: scale(1);
}
footer{
    display: flex;
    justify-content: center;
    color: gray;
    font-family: monospace;
}