body{
    background-color: rgb(18, 19, 19);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    padding-top: 25px;
    width: 100%;
    backdrop-filter: blur(10px); /*desenfoque */
    background-color: transparent;
    .logor {
        margin-left: 50px;
        width: 38px;
        height: 35px;
        padding: 0;
        }
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgba(10, 10, 10, 0.918);
    width: 70rem;
    padding: 10px 45px;
    border-radius: 40px;
    box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.3);
}

.header-left{
    display: flex;
    gap: 2rem;
    margin-top: 3px;
    font-size: 19px;
    background-color: transparent;
}
.left {
    font-weight: bold;
    color: rgb(52, 177, 115);
    font-family:monospace;
    text-decoration: none;
}
.left:hover {
    color: rgb(31, 113, 72);
    transition: color 200ms;
}


.header-right{
    display: flex;
    gap: 2rem;
    margin-top: 3px;
    font-size: 19px;
    background-color: transparent;
}
.right {
    font-weight: bold;
    color: rgb(52, 177, 115);
    font-family:monospace;
    text-decoration: none;
}
.right:hover {
    color: rgb(31, 113, 72);
    transition: color 200ms;
}

main{
    display: flex;
    justify-content: flex-start;/*alinea hacia la izquierda*/
    flex-direction: column;/*en columna */
    width: 60rem;
    margin: auto;
    padding: 10px 45px;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
h1 {
    text-shadow: 7px 7px 35px black;
    margin-top: 15rem;
    font-size: 90px;
    color:rgb(240, 240, 240);
    font-family:monospace;
    margin-left: 5rem;
}
h2 {
    text-shadow: 10px 10px 30px black;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 16rem;
    color: rgb(38, 186, 102);
    font-family:monospace;
    margin-left: 5rem;
}
h3{
    text-shadow: 5px 5px 30px black;
    font-size: 30px;
    color: rgb(38, 186, 102);
    font-family:monospace;
    margin-bottom: 80px;
    margin-top: 100px;
    text-decoration: underline;
}
h4 {
    margin-top: 0;
    text-shadow: 5px 5px 30px black;
    font-size: 21px;
    color: rgb(32, 150, 83);
    font-family: monospace;
}
.caja {
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 40px;
    margin-top: 0;
}

.fachitax {
    height: auto;
    width: 270px;
    background-size: cover;
    border-radius: 70px;
    box-shadow: 5px 5px 15px 5px rgb(27, 27, 27);
    
}
.descri {
    margin-top: 0;
    width: 38rem;
}
#aboutme {
    margin-top: 0;
    margin-bottom: 20px;
}
.loguitos {
    display: flex;
    flex-direction: row;
    gap:30px;
    .linkedin {
        width: 45px;
        height: 45px;
    }
    .github {
        width: 45px;
        height: 41px;
    }
}
a{
    text-decoration:underline;
    color: rgb(38, 186, 102);
}
a:hover {
    font-weight: 550;
    
    transition: 150ms;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
button{
    border: none;
    margin: 0;
    font-size: 35px;
    height: 45px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0 6px;
    background-color: rgba(0, 0, 0, 0.656);
    color:white;
    border-radius: 12px;
    cursor: pointer;
}
button:hover {
    font-weight: 550;
    transition: 150ms;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
}
.proyectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.cocheras, .vinoteca {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 50px;
    border: 2px solid black;
    border-radius: 20px;
    max-width: 70rem;
    box-sizing: border-box;  /*Asegura que el tamaño incluya los bordes y padding*/
    font-weight: lighter;
    background-color: rgba(10, 10, 10, 0.918);
    box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.3);
}

.cocherasfoto, .vinotecafoto {
    margin: auto;
    width: 20rem;
    height: 150px;
    border-radius: 20px;
}

p {
    margin-top: 0;
    font-size: 18px;
    color: rgb(222, 222, 222);
    font-family: monospace;
}
.education {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto; /*Centrar el contenedor en la página*/
}

.fechas {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    gap:5rem;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: right;
}
.divider {
    width: 2px;
    background-color: rgb(29, 165, 77);
    height: auto;
    margin: 10px 10px;
}
.descri {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.tec {
    display: flex; /*alinear las imágenes en una línea */
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 35px;
    flex-wrap: wrap;
}

.tec-item img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.tec-item p {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: white;
    font-family: monospace;
    text-shadow: 9px 9px 30px black;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    left: 43%;
    color: gray;
}
/*-----------------------------------------------------------------------------------------*/
.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.formulario {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.918);
    border-radius: 10px;
    width: 35rem;
    font-family: monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 6rem;
}

.formulario h2 {
    margin: auto;
    font-size: 28px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: rgb(38, 186, 102);
}

.campos input{
    width: 35rem;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 5px;
    background-color: rgb(47, 46, 46);
    color: white;
    font-family: monospace;
    font-size: 16px;
}

.campos input:focus{/*cuando se selecciona*/
    outline: none;
    border-color: rgb(38, 186, 102);
}

.boton{
    width: 100%;
    padding: 15px;
    background-color: rgb(38, 186, 85);
    border: none;
    border-radius: 5px;
    color: rgb(33, 33, 33);
    font-size: 18px;
    cursor: pointer;
    font-family: monospace;
    margin-top: 30px;
}

.boton:hover {
    background-color: rgb(11, 216, 73);
    transition: 150ms;
}