<body>
    <header>
        <nav class="nav">
        <div class="header-left">
            <a href="index.html" class="home">Inicio</a>
            <a href="#caja" class="aboutme">Sobre mí</a>
        </div>
        <div>
            <img src="./img/loguito-removebg-preview.png" class="logor">
        </div>
        <div class="header-right">
            <a href="https://www.linkedin.com/in/rodrigomadridherrera/" target="_blank" class="linkedin">LinkedIn</a>
            <a href="https://github.com/rodrimadrid21" target="_blank" class="github">GitHub</a>
        </div>
        </nav>
    </header>
    <main>
        <h1>RODRIGO MADRID</h1>
        <h2>Estudiante de Programación</h2>
        
        <div class="caja" id="caja">
            
            <img src="./img/cap.png" class="fachitax" alt="fotoperfil">
        <div class="descri">
            <h3>Sobre Mí 🧑🏽‍💻</h3>
            <p>Hola! Soy estudiante de la Tecnicatura de Programación en la Univeridad Austral (Rosario).</p>
            <p>Me considero una persona responsable,
            autogestionada y con facilidad para trabajar en
            equipo.</p>
            <p>Busco tener mi primera experiencia como Full Stack Developer,
            en la cual pueda poner a prueba mis conocimientos y
            desarrollar mis habilidades.</p>
            </div>
        </div>
        <section>
        <h4 id="tecnologias">Tecnologías</h4>
        <div class="tec">
            
            <div class="tec-item">
                <img src="./img/html-removebg-preview.png" alt="HTML">
                <p>HTML</p>
            </div>
            <div class="tec-item">
                <img src="./img/css-removebg-preview.png" alt="CSS">
                <p>CSS</p>
            </div>
            <div class="tec-item">
                <img src="./img/js.jpg" alt="JavaScript">
                <p>JavaScript</p>
            </div>
            <div class="tec-item">
                <img src="./img/python-removebg-preview.png" alt="Python">
                <p>Python</p>
            </div>
            <div class="tec-item">
                <img src="img/csharp-removebg-preview.png" alt="C#">
                <p>C#</p>
            </div>
            <div class="tec-item">
                <img src="img/git-removebg-preview.png" alt="Git">
                <p>Git</p>
            </div>
            <div class="tec-item">
                <img src="img/vs-removebg-preview.png" alt="Visual Studio">
                <p>VS</p>
            </div>
            <div class="tec-item">
                <img src="./img/vscode-removebg-preview.png" alt="VS Code">
                <p>VS Code</p>
            </div>
            <div class="tec-item">
                <img src="img/mysql-removebg-preview.png" alt="mysql">
                <p>MySQL</p>
            </div>        
        </div>
        </section>
        <div id="botones">
            <button class="botones">Ver Cv</button>
            <button class="botones">Contacto</button>
        </div>
    </main>
    <footer>
        © 2024 Rodrigo Madrid
    </footer>
</body>